*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background: rgb(190, 168, 179);
    color: #fff;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}



.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(255, 0, 238);
    border-radius: 5px;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(255, 190, 13);
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    right: -30px;
    z-index: -1;
}

.clock span{
    font-size: 70px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hours::after{
    content: 'HOURS';
}

#mins::after{
    content: 'MINUTES';
}

#sec::after{
    content: 'SECONDS';
}

.click{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 542px;
    background-color: #FAA4BD;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: black;
    transition: 0.5S;
}

.click:hover{
    background: #f49cb5;
}

.click1{
    font-family: cursive;
    margin-top: 10px;
}