body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFE4EF ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding-top: 300px;
    display: grid;
    place-items: center;
}

.container > .envelope{
    background-color: #ECDEB8;
    box-shadow: 0 0 15px #F875AA;
}

.container > .envelope > .envelope2{
    position: relative;
    width: 320px;
    height: 260px;
}


.container > .envelope > .envelope2::before{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 120px solid #ECDEB8;
    border-right: 170px solid transparent;
    border-left: 150px solid transparent;
    top: 0;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}

.container > .envelope > .envelope2::after{
    content: '';
    position: absolute;
    z-index: 2;
    border-top: 110px solid transparent;
    border-left: 155px solid #E6CFA7;
    border-right: 165px solid #E6CFA7;
    border-bottom: 150px solid #E6CFA7;
    bottom: 0;
}

.letter{
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 54%;
    height: 80%;
    background: black;
    transition: all 1s ease-in-out;
    padding: 20px 10px;
    box-shadow: 0 0 15px #F875AA;
}

.letter > .text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    color: #fff;
    text-align: left;
}

.heart{
    position: absolute;
    top: 69%;
    left: 49.6%;
    width: 15px;
    height: 15px;
    background-color: #F875AA;
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0 10px #F875AA;
    cursor: pointer;
}

.heart::before, .heart::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #F875AA;
    border-radius: 50%;
}

.heart::before{
    top: -7.5px;
}

.heart::after{
    right: 7.5px;
}

.flap > .envelope2::before{
    z-index: 0;
    transform: rotateX(180deg); 
}

.flap > .envelope2 .letter{
    z-index: 2;
    bottom: 225px;
    transform: scale(1.5);
    transition-delay: 1s;
}

.flap > .heart{
    transform: rotate(90deg);
    transition-delay: 0.4s;

}

.click{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 220px;
    background-color: #FAA4BD;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: black;
    transition: 0.5S;
}

.click:hover{
    background: #f49cb5;
}

.click1{
    font-family: cursive;
    margin-top: 11px;
}