body{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    background-color: #F7CAC9;
    background-size: cover;
}

input#open{
    display: none;
}

.valentinescard{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform:perspective(2500px);
    transition: .3s;

}

.card1{
    position: relative;
    background-color: #FAA4BD;
    width: 300px;
    height: 300px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .09), 30px 0 50px rgba(0, 0, 0, .3);
    transition: .3s;
}

.card1:before{
    content:"";
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #FFD8DF;
    top: 10px;
    left: 10px;
}

.cardinside{
    position: absolute;
    background-color: #FFE4EF;
    width: 300px;
    height: 300px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 50px 20px 100px rgba(0, 0, 0, .22), 50px 20px 100px rgba(0, 0, 0, 0.03);
}

.open{
    position: absolute;
    width: 399px;
    height: 300px;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 7;
    cursor: pointer;
}

#open:checked ~ .card1{
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .13), 30px 0 50px rgba(0, 0, 0, 0.1);
}

#open:checked ~ .card1::before{
    z-index:5;
    background-color: #FFE4EF;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1), 30px 0 50px rgba(0, 0, 0, 0.1);
}

.note{
    position: relative;
    width: 200px;
    height: 150px;
    top: 75px;
    left: 50px;
    background-color: #FFE4EF;
    font-size: 30px;
    font-weight: 1000;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.note:before, .note:after{
    content: "";
    position: absolute;
    background-color: red;
    width: 40px;
    height: 40px;
}

.note:before{
    transform: rotate(-45deg);
    top: -20px;
    left: 80px; 
}

.note:after{
    border-radius: 50%;
    top: -35px;
    left: 65px;
    box-shadow: 30px 0 red;
}

.text1{
    position: absolute;
    color: red;
    font-size: 30px;
    text-align: center;
    top: 30px;
    width: 300px;
}

.text2{
    position: absolute;
    color: red;
    font-size: 30px;
    text-align: center;
    top: 120px;
    width: 300px;
}

.text1:before, .text1:after{
    position: absolute;
    left: 5px;
    text-align: center;
    width: 300px;
}

.text1:before{
    content: "Valentine's";
    top: 30px;
}

.text1:after{
    content: "Day ";
    top: 60px;
}

.heart{
    position: relative;
    background-color: red;
    height: 60px;
    width: 60px;
    top: 190px;
    left: 120px;
    transform: rotate(-45deg);
    animation: beat .8s infinite;
}

.heart:before, .heart:after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: red;    
}

.heart:before{
    top: -30px;
    left: 0;
}

.heart:after{
    left: 30px;
    top: 0;
}

.smile{
    position: absolute;
    width: 30px;
    height: 15px;
    background-color: black;
    z-index: 1;
    border-radius: 0 0 100px 100px;
    top: 210px;
    left: 135px;
    overflow: hidden;
}

.smile:before{
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    top: 5px;
    left: 5px;
}

.eyes{
    position: absolute;
    border-radius: 50%;
    background-color: black;
    width: 10px;
    height: 10px;
    z-index: 1;
    top: 200px;
    left: 165px;
    box-shadow: -40px 0 black;
    transform-origin: 50%;
    animation: close 2s infinite;
}

@keyframes close{
    0%, 100%{transform: scale(1, .05);}
    5%, 95%{transform: scale(1,1);}
}


@keyframes beat {
    0%, 40%, 100%{transform: scale(1) rotate(-45deg);}
    25%, 60%{transform: scale(1.1) rotate(-45deg);}
}

.click{
    text-align: center;
    position: absolute;
    top: 450px;
    left: 542px;
    background-color: #FAA4BD;
    width: 180px;
    height: 50px;
    border-radius: 50px;
    color: black;
    transition: 0.5S;
}

.click:hover{
    background: #f49cb5;
}

.click1{
    margin-top: 10px;
}